<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand title" href="/">USCOGAME</a>

  <div  id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="/cart"><i class="fa fa-shopping-cart"></i>&nbsp;Cart 
        <span class="badge badge-secondary badge-pill">{{session.cart.totalQty}}</span>
        </a> 
      </li>
        
      {{#if user}}
        
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>&nbsp;
          {{user.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/logout">Log out</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/profile">My Profile</a>
        
        </div>
      </li>
        
        {{else}}
        
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>&nbsp;
          Login or Sign up
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/login">Log in</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/signup">Sign up</a>
          
        </div>
      </li>
        
        {{/if}}  
        
    </ul>
  </div>
</nav>